/* You can add global styles to this file, and also import other style files */
.color1 {color: #5c3264;}
.color2 {color: #913771;}
.color3 {color: #da487e;}
.color4 {color: #ff7891;}
.color5 {color: #ffb79b;}

.bg-color1 {background-color: #ee0430;}
.bg-color2 {background-color: #f6264d;}
.bg-color3 {background-color: #ff5c7b;}
.bg-color4 {background-color: #f7bfbe;}
.bg-color5 {background-color: #f4fcf4;}


